
<footer>
  <div class="colonneFooter">
    <p class="titreFooter">CONTACTEZ-NOUS</p>
        <div class="contenuColonne">

    <p class="texteFooter">61 Rue de Turenne 75003, Paris</p>
    <p class="texteFooter souligne">info@cinq7.com
    <p class="texteCopright">2025 © COPYRIGHT CINQ7 / WAGRAM MUSIC –  ALL RIGHTS RESERVED</p>
  </div>
  
</div>

  <div class="colonneFooter">
    <p class="titreFooter">NEWSLETTER</p>
        <div class="contenuColonne">

    <p class="texteFooter">Suivez-nous</p>
    <p class="texteCard mail">adresse@mail.com</p>
    <a href="#" class="bouton envois souligne">Envoyer</a>
      </div>

  </div>

  <div class="colonneFooter">
    <p class="titreFooter">CONFIDENTIALITÉ</p> 
    <div class="contenuColonne">
    <p class="texteFooter">  Mentions légales</p>  
    <p class="texteFooter"> Données personnelles</p>  
    <p class="texteFooter"> Réserve de droits</p>
    </div> 
    
    <div class="iconFooter">
      <img src="img/svg/facebook.svg" alt="facebook" />
      <img src="img/svg/instagram.svg" alt="instagram" />
      <img src="img/svg/tiktok.svg" alt="tiktok" />
      <img src="img/svg/youtube.svg" alt="youtube" />
      <img src="img/svg/linkedin.svg" alt="linkedin" />
    </div>
  </div>


</footer>
