

@font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-Black.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-Bold.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-SemiBold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-SemiBold.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 600;
  }

@font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-Medium.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 500;
  }

 @font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-Regular.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 400;
  }

@font-face {
    font-family: 'NohemiSemibold';
    src: url('../fonts/Nohemi-SemiBold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-SemiBold.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 300;
  }

@font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-Light.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 200;
  }

  @font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-ExtraLight.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-ExtraLight.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 100;
  }
 
  

img {
  max-width: 100%;
  height: auto;;
}

body {
  font-family: 'Nohemi', sans-serif;
  margin: 0px;
  background-color: #ffffff;
  color: white;
}

nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 20px 50px;
   background-color: black;
   height: 70px;
   position: relative;
   z-index: 1000;
  }

  .boutonNav{
   font-size: 20px;
   font-weight: 500;
   letter-spacing: 0.8px;
   color: #ffffff;
   text-decoration: none;
   width: fit-content;
   display: inline-block;
  }

.backgroundHero {
  position: absolute;
  inset: 0;
  z-index: 1;

  background:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.6) 10%,
      rgba(0, 0, 0, 0) 60%
    ),
    url("../img/hero/herotest.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.heroContainer {
  position: relative;  
  min-height: 800px;
  overflow: hidden;
}



  .textNOMhero {
    font-size: 40px;
    font-weight: 100;
    font-style: normal;
    color: #ffffff;
    margin: 0px;
  }

  .textTITREhero {
    font-size: 100px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    line-height: 115px;
    margin: 0px;
  }

  .titrehero{

  display: flex;
  flex-direction: column;
  text-align: left;

  }

  .textHero {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 650px;
  z-index: 2;
  text-align: left;
  margin-left: 0;
  margin-top: 450px;

}

  .heroContent {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;        
  justify-content: flex-start;    
  gap: 40px;                  
  padding: 80px 20px 80px 80px;  
  min-height: 400px;    
  }      
  
 

  .fleche {
  background: transparent;
  border: none;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  width: 64px;
  height: 64px;
  pointer-events: auto;
}

.fleche-gauche {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.fleche-droite {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.bouton{
   font-size: 20px;
   font-weight: 500;
   letter-spacing: 0.8px;
   
   text-decoration: none;
   width: fit-content;
   display: inline-block;
  padding: 20px 105px;
  border-radius: 30px;
  margin-top: 120px;
}




.full{
  color: black;
  border-radius: 30px;
  background-color: #ffffff;
}

.bouton.full{
  padding: 20px 40px 20px 40px;
  margin: 0px 50px 30px 0px;
}



.colonne1{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 36px;


}

.colonne2{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 36px;
    margin-top: 80px;

}

.colonne3{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 36px;

}

.colonne4{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 36px;
  margin-top: 80px;


}

.compo-albums{
  display: flex;
  gap: 20px;
  justify-content: center;
}


.sorties{
  margin: 65px 65px 150px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artistesSection {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.backgroundCinq7 {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: url("../img/fond/fondcinq7.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.artistesContent {
  position: relative;
  z-index: 1;
  padding: 150px 80px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}




.h1{
  font-family: Nohemi;
  font-size: 110px;
  font-style: normal;
  font-weight: 900;

}
.blanc{
  color: white;
}

.noir{
  color: black;
}

.texteCardDroite{
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 50px;
  
}

.infosCardDroite{
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-top: 30px;
  width: 800px;
  background-color: rgb(0, 0, 0);
}

.artisteCardDroite{
display: flex;
flex-direction: row;
align-items: end;
}

.artisteCardDroite img{
  height: 500px;
  position: absolute;
  z-index: 2;
  padding-left: 20px;
}


.texteCardGauche{
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 50px;
  text-align: right;
   align-items: end;  

}

.infosCardGauche{
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  padding-left: 10px;
  padding-top: 30px;
  justify-content: end;
  width: 800px;
  align-items: end;
  text-align: right; 
  background-color: rgb(0, 0, 0);
}




.artisteCardGauche{
display: flex;
flex-direction: row;
align-items: end;
justify-content: end;
}

.artisteCardGauche img{
  height: 500px;
  position: absolute;
  z-index: 2;
  padding-right: 20px;
  margin: 0px;
}



.titreCard{
  font-size: 35px;
  font-weight: 500;
  color: white;
  margin: 0;
}
.texteCard{
  font-size: 24px;
  font-weight: 200;
  color: rgba(128, 128, 128, 1);  
  margin: 0;
}

.artistesSection{
position: relative;
gap: 100px;
}

.bouton.blanc{
  color: rgb(255, 255, 255);
  border: #ffffff 2px solid;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  z-index: 5;
  left: 50%;
  bottom: 40px;           
  transform: translateX(-50%);
  margin-bottom: 150px;
}

.bouton.noir{
  color: #000000;
   border: #000000 2px solid;
}


h1.blanc{
  margin-bottom: 200px;
}

label{
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}
.presentationLabel{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 850px;
  margin-top: 30px;
  margin-bottom: 150px;
}

.textePara{
  font-family: 'Nohemi', sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin: 0px;
}

footer{
  background-color: rgb(0, 0, 0);
  flex-direction: row;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 150px;
padding-bottom: 50px;  
margin-top: 100px;
  position: relative;
   z-index: 1000;
}

.titreFooter{
  font-family: 'Nohemi', sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: white;
  opacity: 40%;
  margin: 0px;
}

.texteFooter{
  font-family: 'Nohemi', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: white;
  margin: 0px;
  width: 260px;
  line-height: 150%;
}

.texteCard{
  font-size: 20px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.50);
  
}

.envois{
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
}

.iconFooter{
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 50px;
}

.texteCopright{
  font-family: 'Nohemi', sans-serif;
  font-size: 9px;
  font-weight: 400;
  color: white;
  margin: 0px;
  padding-top: 100px;
}

.contenuColonne{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.colonneFooter{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.souligne{
text-decoration: underline solid white;  
text-decoration-skip-ink: auto;    
text-decoration-thickness: 1.5px; 
}

.mail{
  border: #ffffff 2px solid;
  margin: 0;
  border-radius: 30px;
  width: 400px;
  height: 45px;
display: flex;
align-items: center;
padding-left: 20px;
}


.heroArtisteContainer {
  position: relative;  
  overflow: hidden;
  z-index: 2;
  margin: 0;
  padding-left: 80px;
  color: white;
  padding-top: 350px;
  background: url("../img/hero/Sam.png") center/cover no-repeat;
}





.heroArtiste {
  position: relative;
  z-index: 2;
  font-family: 'Nohemi', sans-serif;
  font-weight: 800;
  margin: 0;
  color: white;
  line-height: 0.8;
  font-size: 250px;
}


.bioArtiste{
width: 756px;
height: 647px;
text-align: start;
display: flex;
flex-direction: column;
gap: 25px;
padding-top: 150px;

}

.presentationArtiste{
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-bottom: 20px;
}



.iconeBioArtiste {              
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding-top: 0;              
  margin: 0;
  position: relative;
  z-index: 3;     
  color: #000000;           
  padding-left: 100px;
  padding-top: 150px;

}

.iconeBioArtiste img {
  width: 26px;
  height: 26px;
margin-bottom: 10px;  
display: block;
  object-fit: contain;
  filter: none;     
}


.SamPng{
padding-top: 100px;
height: 600px;

}


.liensDeArtiste {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 100px;
}

.miniTitreLiensArtiste {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  color: black;
}

.liensArtiste {

  font-size: 18px;
  font-weight: 300;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  width: fit-content;

}

.liensSS{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.fausseVideo{
  width: 100%;
  width: 800px;
  height: 500px;
}

.albumcontenu{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0px;
  width: 250px;
  height: 250px;
  padding-bottom: 250px;
}

.contenuMusique{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 260px;
  padding-top: 150px;
  padding-bottom: 200px;
}



.fondDepuisTours {
  position: relative; 
  z-index: 1;
  overflow: visible;
}

.fondDepuisTours .backgroundArtistes {
  position: absolute;
  inset: 0; 
  z-index: 0; 
  pointer-events: none;
  background:
    linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.0)),
    url("../img/fond/fondSamS.png") center/cover no-repeat;
  background-position: bottom center;
  background-size: cover;
  opacity: 1;
height: 2200px;
}

.fondDepuisTours .tours,
.fondDepuisTours .shop,
.fondDepuisTours footer {
  position: relative;
  z-index: 2;
}

.concert .bouton {
  white-space: nowrap;       
}

.concerts {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  gap: 20px;
  justify-content: space-between;
 padding-bottom: 100px;
}
.tours {
  position: relative;  
  min-height: 800px;
  overflow: hidden;
  z-index: 7;
 padding-left: 10px;
 padding: 0px;

}

.texteParaEvidence{
  font-family: 'Nohemi', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0px;
  color: rgb(255, 255, 255);
  
}

.dates{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
border-bottom: solid white 2px;
width: 1300px;
}

.textedate{
display: flex;
flex-direction: row;
  align-items: center;
  gap: 10px;

}

.shop {
  color: white;
  padding: 10px 80px 200px 80px;
}

.shop h1 {
  font-size: 110px;
  font-weight: 800;
  margin-bottom: 80px;
}

.tours h1 {
  font-size: 110px;
  font-weight: 800;
padding-left: 70px;}

.produitsShop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.produit {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.just-bouton {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.prix {
  font-size: 14px;
  opacity: 0.7;
}

.bouton {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transition: all 0.3s ease;
}

.bouton:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  border-color: white;
  transition: all 0.3s ease;
}


.bouton.full {
  background-color: white;
  color: black;
  border: 2px solid white;
  transition: all 0.3s ease;
}

.bouton.full:hover {
  background-color: black;
  color: white;
  border-color: white;
  transition: all 0.3s ease;
}

.bouton.noir {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.bouton.noir:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}



