

@font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-Black.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-Bold.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-SemiBold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-SemiBold.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 600;
  }

@font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-Medium.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 500;
  }

 @font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-Regular.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 400;
  }

@font-face {
    font-family: 'NohemiSemibold';
    src: url('../fonts/Nohemi-SemiBold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-SemiBold.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 300;
  }

@font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-Light.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 200;
  }

  @font-face {
    font-family: 'Nohemi';
    src: url('../fonts/Nohemi-ExtraLight.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Nohemi-ExtraLight.woff2') format('woff2');
      
    font-style: normal;
    font-weight: 100;
  }
 
  

img {
  max-width: 100%;
  height: auto;;
}

body {
  font-family: 'Nohemi', sans-serif;
  margin: 0px;
  background-color: #5c5c5c;
  color: white;
}

nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: black;
   height: 100px;
  }

.heroContainer{ 
  background-image: url("../pasbourreimg.png");   
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  inset: 0; 
  z-index: 1; 
  opacity: 1; 
  margin-top: 140px;                   
  background-size: cover;
  background-position: center;
  background:
    linear-gradient(
     to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 0, 0, 0) 50%,  
    rgba(255, 0, 0, 0) 0%,    
    rgba(255, 0, 0, 0) 0%
    ),
    url("../pasbourreimg.png");
  }

  .textNOMhero {
    font-size: 40px;
    font-weight: 100;
    font-style: normal;
    color: #ffffff;
  }

  .textTITREhero {
    font-size: 100px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    line-height: 115px;
    margin-top: -40px;
  }

  .textHero{
    display: flex;
    flex-direction: column;
  }

  .heroContent{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    
  }
  
  .flecheHero{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 30px;
   margin-top: 300px;
  }

.bouton{
   font-size: 20px;
   font-weight: 500;
   font-style: normal;
   line-height: normal;
   letter-spacing: 0.8px;
   color: #ffffff;
   text-decoration: none;
}

.full{
  color: black;
  border-radius: 30px;
  background-color: #ffffff;
}

.bouton.full{
  padding: 20px 40px 20px 40px;

}

